---
layout: page
title: Games
subtitle: Games developed at the Center for Transformational Play.
description: Games developed at the Center for Transformational Play.
---

<div id="facets" class="dn flex flex-row flex-wrap">
  <div class="facet mr3" id="platform_tags">
    <strong>Platform</strong>
    <ul class="list pl0 lh-title"></ul>
  </div>
  <div class="facet mr3" id="developers">
    <strong>Developer</strong>
    <ul class="list pl0 lh-title"></ul>
  </div>
  <div class="facet mr3" id="tags">
    <strong>Tag</strong>
    <ul class="list pl0 lh-title"></ul>
  </div>
</div>

<div class="db pv3">
  <input id="ft-search" type="search" placeholder="Search games..." class="pa2 w5" />
</div>

<p id="clear-filters" class="dn b pointer">
  <i class="fas fa-times-circle cmu-red" aria-hidden="true"></i> Clear all filters. <span id="count_hidden">X</span> of
  <span id="count_total">X</span> games are hidden by the filters.
</p>

<article>
  {% assign gameyears = site.games | group_by:"year" %} {% assign
  sorted_gameyears = gameyears | reverse %} {% for year in sorted_gameyears %}
  <h2 class="year f2" id="y{{ year.name }}" class="year">{{ year.name }}</h2>
  {% for game in year.items %}
  {% capture anchor %}{% if game.id %}{{ game.id }}{% else %}{{ game.title | slugify }}{% endif %}{% endcapture %}

  <div class="game flex mt4" data-game='{{ game | jsonify | escape }}'>
    {% assign thumb = 'assets' | append: game.url | replace: '.html',
      '_thumb.png' %}
    <div class="h3 mr4 flex-shrink-0 preview-image ba b--black-05 dn db-ns "
      style="background-image: url('{{ thumb | relative_url }}')"></div>
    <div>
      <h3 class="mt0 f4 measure-wide lh-title mb2" id="{{ anchor }}"><a href="{{ game.url }}" class="black link">{{ game.title }}</a></h3>
      <div class="fw2 lh-copy">
        {% for developer in game.developers %}{% include person name=developer %}{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </div>

      {% if game.description %}
      <p class="lh-copy mv1">
        {{ game.description | markdownify | remove: '<p>' | remove: '</p>' }}
      </p>
      {% endif %}

      <div class="mt2 mb1">
        <a href="{{ game.url }}" class="black link hover-cmu-red mr3 dib">
          <span class="cta">Show Details</span>
        </a>

        {% if game.link %}
        <a href="{{ game.link }}" class="black link hover-cmu-red mr3 dib">
          <i class="fas fa-link f6" aria-hidden="true"></i> Game
        </a>
        {% endif %}
        {% if game.blog %}
        <a href="{{ game.blog }}" class="black link hover-cmu-red mr3 dib">
          <i class="fas fa-newspaper f6" aria-hidden="true"></i> Blog
        </a>
        {% endif %}
        {% if game.video %}
        <a href="{{ game.video }}" class="black link hover-cmu-red mr3 dib">
          <i class="fas fa-film f6" aria-hidden="true"></i> Video
        </a>
        {% endif %}
        {% if game.source %}
        <a href="{{ game.source }}" class="black link hover-cmu-red mr3 dib">
          <i class="fas fa-film f6" aria-hidden="true"></i> Source
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %} {% endfor %}
</article>

<script>
  {% include itemsjs.min.js %}
  {% include gamefilter.js %}
</script>