<div class="mv3">
  {% for game in include.games limit: include.limit %}
  <div class="mt4 mt3-ns flex flex-row-ns flex-column">
    {% assign thumb = 'assets' | append: game.url | replace: '.html',
    '_thumb.png' %}
    <div
      class="h3 mr3-ns mb2 mb0-ns flex-shrink-0 preview-image ba b--black-05 db"
      style="background-image: url('{{ thumb | relative_url }}')"
    ></div>
    <div class="measure-wide">
      <div class="mb1">
        <a href="{{ game.url }}" class="b link black hover-cmu-red"
          >{{ game.title }}</a
        >
        <span class="fw2">
          {% for developer in game.developers %}{% include person name=developer %}{%
          unless forloop.last %}, {% endunless %}{% endfor %}</span
        >, <span>{{ game.year }}</span>
        {% if game.platform_tags %}
          <span class="cmu-red mv1 b nowrap">
            {% for platform in game.platform_tags %}{{ platform }}{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          </span>
        {% endif %}
      </div>
      <a href="{{ game.url }}" class="cta">Show details</a>
    </div>
  </div>
  {% endfor %}
</div>
