<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <header class="bg-white">
        <div
          class="w-100 mw8 ph4-l ph3 center pt2 pb3 flex items-baseline flex flex-wrap"
        >
          <a href="/" class="dib f2 f3-ns fw6 link black hover-cmu-red center-s pb3 pr3">
            <picture>
              <source
                srcset="{{ '/assets/logo-light.png' | relative_url }}"
                type="image/png"
              />
              <img
                alt="The CTP logo."
                class="pl2 w3"
                style="margin-bottom: -1.3rem"
              />
            </picture>
            CMU CTP
          </a>
          <nav
            class="mt2 ml-auto-ns lh-copy w-auto-ns w-100 flex flex-column flex-row-ns f4 f5-ns"
          >
            <div class="tc mt0-ns mt2">
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cmu-red link dib"
                href="{{ '/about' | relative_url }}"
                >About</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cmu-red link dib"
                href="{{ '/projects' | relative_url }}"
                >Projects</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cmu-red link dib"
                href="{{ '/team' | relative_url }}"
                >People</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cmu-red link dib"
                href="{{ '/games' | relative_url }}"
                >Play</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cmu-red link dib"
                href="{{ '/publications' | relative_url }}"
                >Publications</a
              >
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cmu-red link dib"
                href="{{ '/news' | relative_url }}"
                >News</a
              >
            </div>
            <div class="tc ml3-m ml4-l">
              <a
                class="ml4-l ml3-m pa0-ns ph2 pv1 b black hover-cmu-red link dib"
                href="https://github.com/cmu-ctp"
                ><i class="fab fa-github mr2"></i>GitHub</a
              >
            </div>
          </nav>
        </div>
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <footer class="bt bg-cmu-dark-gray white mt5 flex-shrink-0">
      <div class="w-100 mw8 ph4-l ph3 center pv5">
        <div class="flex flex-row-ns flex-column">
          <div class="w-50-ns">
            <div class="pv1">
              Center for Transformational Play
            </div>
            <div class="pv1">
              RAND Building, Suite 101
            </div>
            <div class="pv1">
              4570 Fifth Ave, Pittsburgh, PA 15213
            </div>
            <div class="pv1">
              <a
                href="https://docs.google.com/forms/d/e/1FAIpQLSex_oenx5NGQhW8gqrqJ7rR720YfGK9xyDmlyiqOLRkIKKlUw/viewform"
                class="link white dim underline"
                >Contact Us</a
              >
            </div>
          </div>
          <div class="w-50-ns">
            <div class="pv1">
              <a href="https://hcii.cmu.edu" class="link white dim dib">Human-Computer Interaction Institute</a>
            </div>
            <div class="pv1">
              <a href="https://www.cs.cmu.edu" class="link white dim dib">School of Computer Science</a>
            </div>
            <div class="pv1">
              <a href="https://www.cmu.edu" class="link white dim dib">Carnegie Mellon University</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
