---
layout: default
---

<div class="pv4 bg-near-white">
  <div class="w-100 mw8 ph4-l ph3 pv4-l pv3 center">
    <img src="{{page.header_image}}" alt={{page.header_image_alt}}/>
    <h1 class="f1 measure mt3" style="pointer-events: auto;">{{page.title}}</h1>
    <p class="f4 measure lh-copy" style="pointer-events: auto;">{{page.header_text}}</p>
  </div>
</div>

<div class="w-100 mw8 ph4-l ph3 center mt4">
  <div class="flex flex-row flex-wrap justify-between">
    <div class="{% if page.side_image %} w-60-ns {% endif %} w-100">
      {{ page.content }}
    </div> 
    {% if page.side_image %}
    <div class="w-40-ns w-100">
      <img src="{{ page.side_image }}" alt="{{ post.side_image_alt | default: page.title }}" class="fr"/>
    </div>
    {% endif %} 
  </div>
</div>

